//.message
//  border-radius: 20px !important
//  margin: 5px !important
//  width: 70%
//  display: grid
//  grid-template-columns: 20% 70% 10%
//  grid-template-rows: 30% 20% 30% 20%
//  overflow-x: hidden
//
//.message .image
//  margin-right: 10px !important
//  grid-column: 1
//  grid-row: 1 / 4
//
//.message  .content
//  grid-column: 2
//  grid-row: 1 / 4
//
//.message > .createdAt
//  grid-column: 3
//  grid-row: 1
//
//.message .like
//  grid-column: 3
//  grid-row: 4
//  display: flex
//  justify-content: center
//
//.message > .like:hover
//  color: red
//  cursor: pointer
//
//.message .edit
//  grid-column: 3
//  grid-row: 2
//  display: flex
//  justify-content: center
//  align-items: flex-end
//  visibility: hidden
//  color: #6E6E6E
//
//.message:hover .edit,
//.message:hover .delete
//  visibility: visible
//
//.message .item:hover,
//.message .delete:hover
//  color: black
//  cursor: pointer

.message
  background: white !important
  margin: 10px 10px !important
  border-radius: 5px
  padding-top: 10px !important
  padding-bottom: 10px !important

.messageAvatar
  margin-left: 5px !important

.messageText
  margin-right: 20px !important

.rightFloat
  float: right
  margin-right: 10px
